<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../../assets/css/reset.css">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>

	<ul class="nav">
		<li>管理员信息</li>
		<li class="des"><a href="../page/admin_table.php" target="right">· 信息列表</a></li>
		<li class="des"><a href="../page/admin_modify_pwd.php" target="right">· 修改密码</a></li>
	</ul>

	<ul class="nav">
		<li>用户信息</li>
		<li class="des"><a href="../page/user_table.php" target="right">· 信息列表</a></li>
	</ul>

	<ul class="nav">
		<li>课程管理</li>
		<li class="des"><a href="../page/course_table.php" target="right">· 课程列表</a></li>
		<li class="des"><a href="../page/course_upload.html" target="right">· 上传课程</a></li>
	</ul>

	<ul class="nav">
		<li>任务管理</li>
		<li class="des"><a href="../page/task_table.php" target="right">· 任务列表</a></li>
		<li class="des"><a href="../page/task_upload.html" target="right">· 发布任务</a></li>
	</ul>

</body>
</html>