<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>课程导航栏</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="x5-page-mode" content="app"/>
    <meta name="browsermode" content="application">
    <meta name="format-detection" content="telephone=no" />
    <!-- External CSS -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/position.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="../assets/css/border.css">
    <link rel="stylesheet" href="../assets/css/iconfont.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_80vfkeqzpd620529.css"> -->
</head>

<body>
	<div id="app">
		<header class="search-bar col-12 row flex justify-between items-center">
			<b>前端开发</b>
			<form action="" class="inline-block">
				<label>
					<i class="iconfont"></i>
					<input type="text" placeholder="搜索" class="border-none">
				</label>
			</form>
		</header>

		<ul class="course-nav flex items-center flex-wrap">
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/html.png" alt="">
					<div class="text">HTML/CSS</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/html5.png" alt="">
					<div class="text">HTML5</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/css3.png" alt="">
					<div class="text">CSS3</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/js.png" alt="">
					<div class="text">Javascript</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/jq.png" alt="">
					<div class="text">jQuery</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/bootstrap.png" alt="">
					<div class="text">Bootstrap</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/sass.png" alt="">
					<div class="text">Sass</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/vue.png" alt="">
					<div class="text">Vue.js</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/react.png" alt="">
					<div class="text">React.js</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/node.png" alt="">
					<div class="text">Node.js</div>
				</a>
			</li>
			<li class="col-4">
				<a href="" class="block">
					<img src="../assets/images/tool.png" alt="">
					<div class="text">前端工具</div>
				</a>
			</li>
		</ul>
	</div>

	<footer class="footer-bar fixed-bottom col-12">
	    <ul class="flex justify-between">
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-home"></i>
		        	<div class="text">首页</div>
	        	</a>
	    	</li>
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-course active"></i>
		        	<div class="text">课程</div>
	        	</a>
	    	</li>
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-task"></i>
		        	<div class="text">任务</div>
	        	</a>
	    	</li>
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-mine"></i>
		        	<div class="text">我的</div>
	        	</a>
	    	</li>
	    </ul>
	</footer>
</body>

</html>
