<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <title>底部导航栏</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="x5-page-mode" content="app"/>
    <meta name="browsermode" content="application">
    <meta name="format-detection" content="telephone=no" />
    <!-- External CSS -->
    <link rel="stylesheet" href="../assets/css/position.css">
    <link rel="stylesheet" href="../assets/css/layout.css">
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/iconfont.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
	<footer class="footer-bar fixed-bottom col-12">
	    <ul class="flex justify-between">
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-home active"></i>
		        	<div class="text">首页</div>
	        	</a>
	    	</li>
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-course"></i>
		        	<div class="text">课程</div>
	        	</a>
	    	</li>
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-task"></i>
		        	<div class="text">任务</div>
	        	</a>
	    	</li>
	        <li class="col-3 text-center">
		        <a href="#" class="block">
		        	<i class="sprite sprite-mine"></i>
		        	<div class="text">我的</div>
	        	</a>
	    	</li>
	    </ul>
	</footer>
</body>

</html>
